* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
}

button {
  cursor: pointer;
}

/* ============================  */

/* LOGIN */
#login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-10%);
  padding: 10px;
}

#form-login-container {
  width: 500px;
  background-color: #607d8b;
  box-shadow: 1px 1px 7px 2px #00bcd4;
  margin: 0 auto;
  padding: 40px;
}

#form-login-container h4 {
  color: white;
  padding: 20px 0 40px;
}

#form-login-container input {
  width: 100%;
}

/* FILTER  */
.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
